* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right top, plum, white);   
}

.inner-box {
    width: 400px;
    border: 1px solid;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    border-radius: 8px;
    background-color: white;
    z-index: 2;
}

.signup-header h1 {
    font-size: 2.5rem;
    color: rgb(43, 42, 42);
}

.signup-header p {
    font-size: 0.9rem;
    color: gray;
}

.signup-body {
    margin: 10px 0;
}

.signup-body p {
    margin: 10px 0;
}

.signup-body p label {
    display: block;
    font-weight: bold;
}

.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 1rem;
}

.signup-body p  input[type="submit"] {
    background-color: plum;
    border: none;
}
.signup-body p input[type="submit"]:hover {
    background-color: violet;
    cursor: pointer;
}

.signup-footer p {
    color: gray;
    text-align: center;
}

.signup-footer p a {
    color: rgb(255, 0, 255);
}

.box {
    width: 200px;
    height: 200px;
    background: linear-gradient(to top right, rgb(244, 234, 234), plum);
    border-radius: 100px;
    position: absolute;
}

.c1 {
    bottom: 20%;
    right: 20%;
}

.c2 {
    top: 10%;
    left: 20%;
}